.genericCard {
  @apply flex flex-col justify-between items-center h-fit w-fit rounded-lg border-2 pb-3;
  @apply max-w-md;
  @apply transition-all ease-in-out duration-200;

  .header {
    @apply flex flex-row gap-3.5 justify-between items-center p-3;
  }

  .body {
    .sect {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 0.7rem;
      grid-row-gap: 0rem;
      justify-items: start;

      @apply mb-1;

      .head {
        grid-area: 1 / 2 / 2 / 3;

        @apply flex flex-row justify-start items-center gap-4 mt-1 h-fit;

        h3 {
          @apply text-xl font-bold;
        }
      }

      .side {
        grid-area: 1 / 1 / 3 / 2;

        @apply flex flex-col justify-start items-center gap-1;

        .sectIcon {
          svg {
            @apply w-9 h-9;
          }
        }

        .bar {
          @apply w-[4px] h-3/4 bg-blue-600 rounded-full;
        }
      }

      .content {
        grid-area: 2 / 2 / 3 / 3;

        @apply py-3 items-center flex flex-row;
      }
    }
  }
}
